@media (min-width: 1025px) /* laptop & pc*/ {
  .adminHome-section-one-Fest {
    flex: 25%;
    max-width: 25%;
  }
  .festLoginPopupDiv {
    width: 400px;
    height: auto;
  }

  .fest-container {
    padding: 0;
    padding-left: 2%;
    padding-right: 2.5%;
    padding-top: 58px;
    padding-bottom: 20px;
    margin-left: 220px;
    transition: ease-in-out 0.6s;
  }
  .sidebarborder {
    margin-left: 0px;
    transition: ease-in-out 0.6s;
  }
  .sidebarMenueButton {
    display: none;
    transition: ease-in-out 0.6s;
  }
  .sidebarheaderCloseIcon {
    display: none;
  }
  .festHeader {
    display: none;
  }

  .sidebarboarder-onClick-menu {
    width: 190px;
    height: 100vh;
    background-color: var(--color-four);
    position: fixed;
    padding-left: 15px;
    padding-right: 15px;
    transition: ease-in-out 0.6s;
    margin-left: 0;
  }
  .sidebarheaderCloseIcon-onClick-menu {
    font-size: 22px;
    color: rgb(194, 194, 194);
    position: absolute;
    top: 70px;
    right: 5px;
    cursor: pointer;
    display: none;
  }
  .sidebarMenueButton-onClick-menu {
    display: none;
  }
  .sidebarboarder-onClick-close {
    width: 190px;
    height: 100vh;
    background-color: var(--color-four);
    position: fixed;
    padding-left: 15px;
    padding-right: 15px;
    transition: ease-in-out 0.6s;
    margin-left: 0px;
  }
  .sidebarheaderCloseIcon-onClick-close {
    font-size: 22px;
    color: rgb(194, 194, 194);
    position: absolute;
    top: 70px;
    right: 5px;
    cursor: pointer;
    display: none;
  }
  .sidebarMenueButton-onClick-close {
    display: none;
  }
  .festDetialsEditsubDiv {
    width: 47%;
  }
}
.fivteen {
  width: 50%;
}
.Twenty-five {
  width: 25%;
}

@media (max-width: 1024px) /* ipad Pro */ {
  .adminHome-section-one-Fest {
    flex: 33.33%;
    max-width: 33.33%;
  }
  .festLoginPopupDiv {
    width: 400px;
    height: auto;
  }
  .fest-container {
    padding: 0;
    padding-left: 2%;
    padding-right: 2.5%;
    padding-top: 58px;
    padding-bottom: 20px;
    margin-left: 220px;
    transition: ease-in-out 0.6s;
  }
  .sidebarborder {
    margin-left: 0px;
    transition: ease-in-out 0.6s;
  }
  .sidebarMenueButton {
    display: none;
    transition: ease-in-out 0.6s;
  }
  .sidebarheaderCloseIcon {
    display: none;
  }
  .festHeader {
    display: none;
  }

  .sidebarboarder-onClick-menu {
    width: 190px;
    height: 100vh;
    background-color: var(--color-four);
    position: fixed;
    padding-left: 15px;
    padding-right: 15px;
    transition: ease-in-out 0.6s;
    margin-left: 0;
  }
  .sidebarheaderCloseIcon-onClick-menu {
    font-size: 22px;
    color: rgb(194, 194, 194);
    position: absolute;
    top: 70px;
    right: 5px;
    cursor: pointer;
    display: none;
  }
  .sidebarMenueButton-onClick-menu {
    display: none;
  }
  .sidebarboarder-onClick-close {
    width: 190px;
    height: 100vh;
    background-color: var(--color-four);
    position: fixed;
    padding-left: 15px;
    padding-right: 15px;
    transition: ease-in-out 0.6s;
    margin-left: 0px;
  }
  .sidebarheaderCloseIcon-onClick-close {
    font-size: 22px;
    color: rgb(194, 194, 194);
    position: absolute;
    top: 70px;
    right: 5px;
    cursor: pointer;
    display: none;
  }
  .sidebarMenueButton-onClick-close {
    display: none;
  }
  .Twenty-five {
    width: 50%;
  }
}

@media (max-width: 768px) /* ipad */ {
  .adminHome-section-one-Fest {
    flex: 50%;
    max-width: 50%;
  }
  .festLoginPopupDiv {
    width: 400px;
    height: auto;
  }
  .fest-container {
    padding: 0;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 60px;
    padding-bottom: 20px;
    margin-left: 0px;
    transition: ease-in-out 0.6s;
  }
  .sidebarborder {
    margin-left: -230px;
    transition: ease-in-out 0.6s;
  }
  .sidebarMenueButton {
    display: block;
    transition: ease-in-out 0.6s;
  }
  .sidebarheaderCloseIcon {
    display: block;
  }
  .festHeader {
    display: none;
  }

  .sidebarboarder-onClick-menu {
    width: 190px;
    height: 100vh;
    background-color: var(--color-four);
    position: fixed;
    padding-left: 15px;
    padding-right: 15px;
    transition: ease-in-out 0.6s;
    margin-left: 0;
  }
  .sidebarheaderCloseIcon-onClick-menu {
    font-size: 22px;
    color: rgb(194, 194, 194);
    position: absolute;
    top: 70px;
    right: 5px;
    cursor: pointer;
    display: block;
  }
  .sidebarMenueButton-onClick-menu {
    display: none;
  }
  .sidebarboarder-onClick-close {
    width: 190px;
    height: 100vh;
    background-color: var(--color-four);
    position: fixed;
    padding-left: 15px;
    padding-right: 15px;
    transition: ease-in-out 0.6s;
    margin-left: -230px;
  }
  .sidebarheaderCloseIcon-onClick-close {
    font-size: 22px;
    color: rgb(194, 194, 194);
    position: absolute;
    top: 70px;
    right: 5px;
    cursor: pointer;
    display: none;
  }
  .sidebarMenueButton-onClick-close {
    display: block;
  }
  .searchResult .searchResultOne .header h4{
    display: none;
  }
}

@media (max-width: 500px) /* all mobile */ {
  /* Admin settings */
  .admin-header-login h4,
  .create-fest-button-border h4 {
    display: none;
  }
  .admin-header-login,
  .create-fest-button-border {
    background-color: var(--color-one);
  }
  /* result */
  .fivteen {
    width: 100%;
  }
  .Twenty-five {
    width: 100%;
  }
  .searchResult .searchResultOne .header h4{
    display: none;
  }
}

@media (max-width: 375px) /* all mobile */ {
  .adminHome-section-one-Fest {
    width: 100%;
    max-width: 100%;
  }
  .festLoginPopupDiv {
    width: 90%;
    height: auto;
  }
  .fest-container {
    padding: 0;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 60px;
    margin-left: 0px;
    transition: ease-in-out 0.6s;
    padding-bottom: 20px;
  }
  .sidebarborder {
    margin-left: -230px;
    transition: ease-in-out 0.6s;
  }
  .sidebarMenueButton {
    display: block;
    transition: ease-in-out 0.6s;
  }
  .sidebarheaderCloseIcon {
    display: block;
  }
  .festHeader {
    display: none;
  }

  .sidebarboarder-onClick-menu {
    width: 190px;
    height: 100vh;
    background-color: var(--color-four);
    position: fixed;
    padding-left: 15px;
    padding-right: 15px;
    transition: ease-in-out 0.6s;
    margin-left: 0;
  }
  .sidebarheaderCloseIcon-onClick-menu {
    font-size: 22px;
    color: rgb(194, 194, 194);
    position: absolute;
    top: 70px;
    right: 5px;
    cursor: pointer;
    display: block;
  }
  .sidebarMenueButton-onClick-menu {
    display: none;
  }
  .sidebarboarder-onClick-close {
    width: 190px;
    height: 100vh;
    background-color: var(--color-four);
    position: fixed;
    padding-left: 15px;
    padding-right: 15px;
    transition: ease-in-out 0.6s;
    margin-left: -230px;
  }
  .sidebarheaderCloseIcon-onClick-close {
    font-size: 22px;
    color: rgb(194, 194, 194);
    position: absolute;
    top: 70px;
    right: 5px;
    cursor: pointer;
    display: none;
  }
  .sidebarMenueButton-onClick-close {
    display: block;
  }
  .searchResult .searchResultOne .header h4{
    display: none;
  }
}
