<section>
    <div class="container">
        <div class="adminHome-section-one">
            <h4 class="adminHome-sectin-one-SubHeading">Change password</h4>
            <hr>
        </div>
        <div style="padding-top: 15px;">
            <form action="/admin/change-password" id="sessionOneForm" onsubmit="return sessionOneInputs()"
                method="POST">
                <div class="CFsessionOne">
                    <div class="label">
                        <label for="">User name</label>
                    </div>
                    <div class="inputDiv">
                        <input type="text" name="UserName" value="{{adminDetails.UserName}}" readonly
                            style="background-color: rgb(224, 224, 224);">

                    </div>
                </div>
                <div class="CFsessionOne">
                    <div class="label">
                        <label for="">Current Password</label>
                    </div>
                    <div class="inputDiv">
                        <input type="Password" name="CurrentPassword" id="password1" required>
                        <i id="Icon3" class="bi bi-eye-fill" onclick="showPassword1()"></i>

                    </div>
                </div>
                <div class="CFsessionOne">
                    <div class="label">
                        <label for="">New Password</label>
                    </div>
                    <div class="inputDiv">
                        <input type="Password" name="Password" id="password" minlength="6" maxlength="12" required>
                        <i id="Icon1" class="bi bi-eye-fill" onclick="showPassword()"></i>

                    </div>
                </div>
                <div class="CFsessionOne">
                    <div class="label">
                        <label for="">Confiem password</label>
                    </div>
                    <div class="inputDiv">
                        <input type="Password" id="c-password">
                        <i id="Icon2" class="bi bi-eye-fill" onclick="showCPassword()"></i>

                    </div>
                </div>
                <div class="CFsessionOneNext">
                    <button type="submit" class="CFsessionOneNextButton">Submit </button>
                </div>
            </form>
        </div>
    </div>
       {{#if passwordChangeErr}}
        <div id="close" class="Alert-box-border">
            <div>
                <div class="Alert-box-close-button">
                    <i class="bi bi-x-lg" onclick="closeAlet()"></i>
                </div>
                <div class="Alert-box-header">
                    <i class="bi bi-exclamation-circle"></i>
                    <h4>Change failed !</h4>
                </div>
                <div class="alert-box-content">
                    <h5 id="loginErr">{{passwordChangeErr}}</h5>
                </div>
                <audio autoplay hidden src="/audio/alert/error alert.mp3"></audio>

            </div>
        </div>
        {{/if}}
        {{#if passwordChangeSuccess}}
        <div style=" background-color: rgb(138, 255, 177); border-color:rgb(0, 165, 55)" class="groupAlertBorder">
            <div class="groupAlert-box-close-button">
                <i class="bi bi-x-lg" onclick="closeAlet()"></i>
            </div>
            <div class="groupAlertHead" style=" color: rgb(0, 126, 42);">
                <i class="bi bi-exclamation-circle"></i>
                <h4> Success !</h4>
            </div>
            <div class="groupAletCountent" style="color: rgb(56, 95, 69);">
                <h5>{{passwordChangeSuccess}}</h5>
            </div>
            <audio autoplay hidden src="/audio/alert/error alert.mp3"></audio>
        </div>
        {{/if}}
</section>

<script>
    var current = document.getElementById('change-password').className = "drop-pop-active"
</script>


{{!-- show password --}}
<script>
    function showPassword() {
        var x = document.getElementById("password");
        var i = document.getElementById("Icon1");

        if (x.type === "password") {
            x.type = "text"
            i.className = "bi bi-eye-slash-fill"

        } else {
            x.type = "password"
            i.className = "bi bi-eye-fill"
        }
    }
    function showPassword1() {
        var x = document.getElementById("password1");
        var i = document.getElementById("Icon3");

        if (x.type === "password") {
            x.type = "text"
            i.className = "bi bi-eye-slash-fill"

        } else {
            x.type = "password"
            i.className = "bi bi-eye-fill"
        }
    }
    function showCPassword() {
        var x = document.getElementById("c-password");
        var i = document.getElementById("Icon2");

        if (x.type === "password") {
            x.type = "text"
            i.className = "bi bi-eye-slash-fill"

        } else {
            x.type = "password"
            i.className = "bi bi-eye-fill"
        }
    }
</script>


{{!-- password validate --}}
<script>
    const form = document.getElementById('sessionOneForm');
    const password = document.getElementById('password');
    const cpassword = document.getElementById('c-password');
    function sessionOneInputs() {
        const passwordValue = password.value;
        const cpasswordValue = cpassword.value;
        if (passwordValue !== cpasswordValue) {

            alert('Passwords does not match')
            return false;
        } else {
            setSuccessFor(cpassword);
        }
    }



</script>