<section>
    <div class="container">
        <form action="/admin/create" method="post">
            <label for="fname">Email:</label><br>
            <input type="email" id="fname" name="EmailId" ><br>
            <label for="lname">Password:</label><br>
            <input type="password" id="lname" name="Password" ><br><br>
            <input type="submit" value="Submit">
        </form>

    </div>
</section>