<section>
    <div class="group-container">
        <form action="/fest-admin/create-new-account-for-admin" method="post">
            <input type="text" name="FirstName" placeholder="FirstName">
            <input type="text" name="LastName" placeholder="LastName">
            <input type="text" name="UserName" placeholder="UserName">
            <input type="text" name="EmailId" placeholder="EmailId">
            <input type="text" name="Password" placeholder="Password">
            <input type="submit" name="" id="">
        </form>
    </div>
</section>