<section>
    <div class="container">
        <div class="create-fest-border">
            <div>
                <h3 class="create-fest-heading">Create new fest</h3>
                <div class="create-fest-session-count">
                    <div>
                        <span style=" color:white; background-color: rgb(92, 148, 3) ; "
                            class="create-fest-session-counter">1</span>
                        <span id="conter2" class="create-fest-session-counter">2</span>
                        <span class="create-fest-session-counter">3</span>
                        <span class="create-fest-session-counter">4</span>

                        <span class="create-fest-session-line1"><span id="line2"
                                class="create-fest-session-line2"></span></span>


                    </div>
                    <hr class="create-fest-header-hr">
                </div>
                <div class="create-fest-content">
                    <form action="/fest-admin/create-fest-page2" method="POST" onsubmit="return sessionOneInputs()"
                        id="sessionOneForm">
                        <div id="create-fest-page2" class="create-fest-sessionOne">
                            <h3 class="CFsessionOne-header">Fest deatails</h3>
                            <div class="createGrop-infermathion" >
                                    <p><span>*</span> Include General as a session</p>
                                    <p><span>*</span> This information is valuable and you will not be able to edit it
                                        once Fest is created</p>
                                </div>
                            <div class="CFsessionOne">
                                <div class="label">
                                    <label for="">Fest Name</label>
                                </div>
                                <div class="inputDiv">
                                    <input type="text" name="FestName" id="fest-name" minlength="3" required>

                                </div>
                            </div>
                            <div class="CFsessionOne">
                                <div class="label">
                                    <label for="">Fest Date </label>
                                </div>
                                <div class="inputDiv">
                                    <input type="date" name="FestDate" id="fest-date"  min="2020-01-01" max="2200-12-31" required >

                                </div>
                            </div>
                            <div class="CFsessionOne">
                                <div class="label">
                                    <label for="">Fest Converner</label>
                                </div>
                                <div class="inputDiv">
                                    <input type="text" name="FestConvener" id="fest-convener" minlength="3" required>

                                </div>
                            </div>
                            <div class="CFsessionOne">
                                <div class="label">
                                    <label for="">Number of Groups</label>
                                </div>
                                <div class="inputDiv" style="margin-right: -20px;">

                                    <select id="number-group" name="NumberGroups" required >
                                        
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                        <option value="4">Foure</option>
                                        <option value="5">Five</option>
                                        <option value="6">Six</option>
                                    </select>

                                </div>
                            </div>
                            <div class="CFsessionOne">
                                <div class="label">
                                    <label for="">Number of Sessions</label>
                                </div>
                                <div class="inputDiv" style="margin-right: -20px;">

                                    <select id="number-group" name="NumberSessions" required >
                                        
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                        <option value="4">Foure</option>
                                        <option value="5">Five</option>
                                        
                                    </select>

                                </div>
                            </div>
                            
                            
                            <input type="text" name="FestId" id="fest-id" hidden>


                            
                            <div class="CFsessionOne">
                                <div class="label">
                                    <label for="">Password</label>
                                </div>
                                <div class="inputDiv">
                                    <input type="Password" name="Password" id="password" minlength="6" maxlength="12" required>
                                    <i id="Icon1" class="bi bi-eye-fill" onclick="showPassword()"></i>

                                </div>
                            </div>
                            <div class="CFsessionOne">
                                <div class="label">
                                    <label for="">Confiem password</label>
                                </div>
                                <div class="inputDiv">
                                    <input type="Password" id="c-password">
                                    <i id="Icon2" class="bi bi-eye-fill" onclick="showCPassword()"></i>

                                </div>
                            </div>
                               
                            <div class="CFsessionOneNext">
                                <button type="submit" class="CFsessionOneNextButton">Next <i
                                        class="bi bi-chevron-right"></i></button>
                            </div>


                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{{!-- password validate --}}
<script>
    const form = document.getElementById('sessionOneForm');
    const password = document.getElementById('password');
    const cpassword = document.getElementById('c-password');
    function sessionOneInputs() {
        const passwordValue = password.value;
        const cpasswordValue = cpassword.value;
        if (passwordValue !== cpasswordValue) {

            alert('Passwords does not match')
            return false;
        } else {
            setSuccessFor(cpassword);
        }
    }



</script>

{{!-- show password --}}
<script>
    function showPassword() {
        var x = document.getElementById("password");
        var i = document.getElementById("Icon1");

        if (x.type === "password") {
            x.type = "text"
            i.className = "bi bi-eye-slash-fill"

        } else {
            x.type = "password"
            i.className = "bi bi-eye-fill"
        }
    }
    function showCPassword() {
        var x = document.getElementById("c-password");
        var i = document.getElementById("Icon2");

        if (x.type === "password") {
            x.type = "text"
            i.className = "bi bi-eye-slash-fill"

        } else {
            x.type = "password"
            i.className = "bi bi-eye-fill"
        }
    }
</script>

{{!-- random Id create --}}
<script>

    var festIdInput = document.getElementById('fest-id');
    
    create_random_id(7)
    function create_random_id(sting_length) {
        var randomString = '';
        var numbers = '123456789A'
        for (var i, i = 0; i < sting_length; i++) {
            randomString += numbers.charAt(Math.floor(Math.random() * numbers.length))
        }

        festIdInput.value = "F"+randomString


    }
</script>