<section>
    <div class="container">
        <div class="create-fest-border">
            <div>
                <h3 class="create-fest-heading">Create new fest</h3>
                <div class="create-fest-session-count">
                    <div>
                        <span style=" color:white; background-color: rgb(92, 148, 3) ; "
                            class="create-fest-session-counter">1</span>
                        <span style=" color:white; background-color: rgb(92, 148, 3) ; "
                            class="create-fest-session-counter">2</span>
                        <span style=" color:white; background-color: rgb(92, 148, 3) ; "
                            class="create-fest-session-counter">3</span>
                        <span style=" color:white; background-color: rgb(92, 148, 3) ; "
                            class="create-fest-session-counter">4</span>

                        <span class="create-fest-session-line1"><span style="width: 200px;"
                                class="create-fest-session-line2"></span></span>


                    </div>
                    <hr class="create-fest-header-hr">
                </div>
                <div class="create-fest-content">

                    <form action="/fest-admin/create-fest-page5" method="POST" id="sessionOneForm">
                        <div id="create-fest-sessionTwo" class="create-fest-sessionTwo">
                            <div id="create-fest-sessionOne" class="create-fest-sessionOne">
                                <h3 class="CFsessionOne-header">Informations</h3>

                                <div class="createGrop-infermathion">

                                    <p><span>*</span> Each session will have stage and off stage categories</p>

                                    <p><span>*</span> This information is valuable and you will not be able to edit it
                                        once Fest is created</p>
                                </div>
                                <div></div>
                                <div class="CFsessionOneNext">
                                    <button type="submit" class="CFsessionOneNextButton"><i class="bi bi-check-lg"></i>
                                        Submit </button>
                                </div>
                            </div>
                        </div>
                </div>
                </form>

            </div>
        </div>
    </div>
    </div>
</section>