<section>
    <div class="container">
        <div class="forgotMainDiv">
            <div class="forgotborder">
                <div class="forgotHeader">
                    <h2>Forgot password ?</h2>
                </div>
                <form action="/fest-admin/forgot-password" method="post">
                    <div class="forgotContent">
                        <div>
                            <p style="font-style: italic;">Enter the e-mail ID created by Fest. After that, get the OTP
                                through the e-mail you receive, after change password
                            </p>
                        </div>
                        <div>
                            <label for="">Email address</label>
                            <input type="email" name="EmailId" required>
                            <small style="color: red; font-style:italic;">{{loginErr}}</small>
                        </div>
                    </div>

                    <div class="forgotFooter">
                        <div class="fotgotButtons">
                            <button type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>