<section>
    <div class="container">
        <div class="forgotMainDiv">
            <div class="forgotborder">
                <div class="forgotHeader">
                    <h2>Forgot password ?</h2>
                </div>
                <div class="forgotContent">
                    <div>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout. The point o using 'Content here, content
                        </p>
                    </div>
                    <div>
                        <label for="">Email address</label>
                        <input type="text">
                    </div>
                </div>

                <div class="forgotFooter">
                    <div class="fotgotButtons">
                        <button>Other way</button>
                        <button>Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>