<section>
    <div class="container">
        <div class="admin-login">
            <div class="admin-login-border">
                <div class="admin-login-header">
                    <img class="admin-login-union-logo" src="/images/images/nsa-online-ping.png" alt="union logo">
                </div>
                <h3 class="admin-login-head">Admin login</h3>
                <hr class="admin-login-hr">
                <div class="admin-login-content">
                    <form action="/fest-admin/login"  method="POST">
                        <div class="admin-login-form">
                            <label for="">Email address</label>
                            <input type="email" name="EmailId" required id="" autofocus>
                        </div>
                        <div class="admin-login-form">
                            <label for="">Password</label>
                            <input type="password" name="Password" required id="Password" autocomplete="off">
                            <i id="Icon" class="bi bi-eye-fill" onclick="showPassword()"></i>
                        </div>
                        {{!-- <p><a href="/fest-admin/forgot-password">forgot password ?</a></p> --}}
                        <div class="admin-login-form">
                            <button type="submit">Login</button>
                        </div>
                    </form>
                </div>
            </div>
            {{#if loginErr}}
            <div id="close" class="Alert-box-border">
                <div>
                    <div class="Alert-box-close-button">
                    <i  class="bi bi-x-lg" onclick="closeAlet()"></i>
                    </div>
                    <div class="Alert-box-header">
                        <i class="bi bi-exclamation-circle"></i>
                        <h4>Login failed !</h4>
                    </div>
                    <div class="alert-box-content">
                        <h5 id="loginErr">{{loginErr}}</h5>
                    </div>
                   
                       <audio id="alertAudio" autoplay hidden src="/audio/alert/error alert.mp3"></audio>
                </div>
            </div>
            {{/if}}
            {{#if Success}}
             <div style=" background-color: rgb(138, 255, 177); border-color:rgb(0, 165, 55)" class="groupAlertBorder">
                <div class="groupAlert-box-close-button">
                    <i class="bi bi-x-lg" onclick="closeAlet()"></i>
                </div>
                <div class="groupAlertHead" style=" color: rgb(0, 126, 42);">
                    <i class="bi bi-exclamation-circle"></i>
                    <h4>Changed !</h4>
                </div>
                <div class="groupAletCountent" style="color: rgb(56, 95, 69);">
                    <h5>{{Success}}</h5>
                </div>
                <audio autoplay hidden src="/audio/alert/error alert.mp3"></audio>
            </div>
            {{/if}}

        </div>
    </div>
</section>

<script>
    function showPassword() {
        var x = document.getElementById("Password");
        var i = document.getElementById("Icon");

        if (x.type === "password") {
            x.type = "text"
            i.className = "bi bi-eye-slash-fill"

        } else {
            x.type = "password"
            i.className = "bi bi-eye-fill"
        }
    }

    function closeAlet(){

        var alert_box = document.getElementById('close')
        alert_box.style.display="none"

    }


</script>

