<section>
    <div class="container">
        <div class="forgotMainDiv">
            <div class="forgotborder">
                <div class="forgotHeader">
                    <h2>Forgot password ?</h2>
                </div>

                <form action="/fest-admin/settings/new-password" id="sessionOneForm"
                    onsubmit="return sessionOneInputs()" method="POST">


                    <div class="CFsessionOne">
                        <input type="text" value="{{EmailId}}" name="EmailId" hidden>
                        <div class="inputDiv">
                            <input type="Password" placeholder="New password" name="Password" id="password"
                                minlength="6" maxlength="12" required>
                            <i  id="Icon1" class="bi bi-eye-fill"
                                onclick="showPassword()"></i>

                        </div>
                    </div>
                    <div class="CFsessionOne">

                        <div class="inputDiv">
                            <input placeholder="Confiem password" type="Password" id="c-password">
                            <i  id="Icon2" class="bi bi-eye-fill"
                                onclick="showCPassword()"></i>

                        </div>
                    </div>
                    <div class="forgotFooter">
                        <div class="fotgotButtons">
                            <button type="submit">Submit</button>
                        </div>
                    </div>

                </form>


            </div>
        </div>
    </div>
</section>


{{!-- show password --}}
<script>
    function showPassword() {
        var x = document.getElementById("password");
        var i = document.getElementById("Icon1");

        if (x.type === "password") {
            x.type = "text"
            i.className = "bi bi-eye-slash-fill"

        } else {
            x.type = "password"
            i.className = "bi bi-eye-fill"
        }
    }

    function showCPassword() {
        var x = document.getElementById("c-password");
        var i = document.getElementById("Icon2");

        if (x.type === "password") {
            x.type = "text"
            i.className = "bi bi-eye-slash-fill"

        } else {
            x.type = "password"
            i.className = "bi bi-eye-fill"
        }
    }
</script>

<script>
    const form = document.getElementById('sessionOneForm');
    const password = document.getElementById('password');
    const cpassword = document.getElementById('c-password');
    function sessionOneInputs() {
        const passwordValue = password.value;
        const cpasswordValue = cpassword.value;
        if (passwordValue !== cpasswordValue) {

            alert('Passwords does not match')
            return false;
        } else {
            setSuccessFor(cpassword);
        }
    }



</script>