<section>
    <div class="container">
        <div class="forgotMainDiv">
            <div class="forgotborder">
                <div class="forgotHeader">
                    <h2>Forgot password ?</h2>
                </div>
                <form action="/admin/forgot-password/otp/{{EmailId}}" method="post">
                    <div class="forgotContent">
                       
                        <div>
                            <input hidden type="text" value="{{EmailId}}" name="EmailId">
                            <label for="">Enter OTP</label>
                            <input type="number" name="otp" required>
                            <small style="color: red; font-style:italic;">{{loginErr}}</small>
                        </div>
                    </div>

                    <div class="forgotFooter">
                        <div class="fotgotButtons">
                            <button type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

