<section>
    <div class="fest-container">
        <div class="addpointtable-mainDiv">
            <div class="pointTable-header">
                <h4 class="adminHome-sectin-one-SubHeading"><a href="/event/{{Event.EventId}}/points"><span class="back-button"><i class="bi bi-chevron-left"></i> Back</span></a>Add point</h4>
                <hr>
            </div>
            <div class="addPointTable-content">
                <form action="/event/{{Event.EventId}}/points/add-table" method="POST">
                    <div id="create-fest-page2">

                        <input type="text" hidden name="EventId" value="{{Event.EventId}}">

                        <div class="CFsessionOne">
                            <div class="label">
                                <label for="">Category name </label>
                            </div>
                            <div class="inputDiv">
                                <input type="text" name="CategoryName" required>
                            </div>
                        </div>
                        <div class="CFsessionOne">
                            <div class="label">
                                <label for="">1st </label>
                            </div>
                            <div class="inputDiv">
                                <input type="number" name="P1" required>
                            </div>
                        </div>
                        <div class="CFsessionOne">
                            <div class="label">
                                <label for="">2nd </label>
                            </div>
                            <div class="inputDiv">
                                <input type="number" name="P2" required>
                            </div>
                        </div>
                        <div class="CFsessionOne">
                            <div class="label">
                                <label for="">3rd </label>
                            </div>
                            <div class="inputDiv">
                                <input type="number" name="P3" required>
                            </div>
                        </div>
                        <div class="CFsessionOne">
                            <div class="label">
                                <label for="">A grade </label>
                            </div>
                            <div class="inputDiv">
                                <input type="number" name="A" required>
                            </div>
                        </div>
                        <div class="CFsessionOne">
                            <div class="label">
                                <label for="">B grade </label>
                            </div>
                            <div class="inputDiv">
                                <input type="number" name="B" required>
                            </div>
                        </div>
                        <div class="CFsessionOne">
                            <div class="label">
                                <label for="">C grade </label>
                            </div>
                            <div class="inputDiv">
                                <input type="number" name="C" required>
                            </div>
                        </div>


                        <div class="CFsessionOneNext">
                            <button type="submit" class="CFsessionOneNextButton"><i class="bi bi-check-lg"></i> Submit
                            </button>
                        </div>


                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

<script>
    var current = document.getElementById('point-table').className = "sidebarmenus sidebarmenus-active"

</script>