<section>
    <div class="group-container">
        <div class="allGroupStudents-mainDiv">
            <div class="GroupAllCategory-header">
                <h4 class="adminHome-sectin-one-SubHeading">Settings / Change password</h4>
                <hr class="GroupallCategoryheader-hr">
            </div>
            <div>
                <div class="AddGroupStudetns-Div">
                    <form action="/group/settings/change-password" autocomplete="off" method="POST" id="changepassword-form"
                        onsubmit="return sessionOneInputs()">
                        <div class="addStudetns-form">
                            <div> <label for="">Group ID :</label></div>
                            <div><input type="text" name="GroupId" value="{{GroupDetails.GroupId}}" readonly
                                    style="cursor: not-allowed; background-color:rgb(211, 211, 211)"></div>
                        </div>
                        <div class="addStudetns-form">
                            <div> <label for="">Current password :</label></div>
                            <div><input type="text" name="CurrentPassword" required>

                            </div>
                        </div>
                        <div class="addStudetns-form">
                            <div> <label for="">New password :</label></div>
                            <div><input type="password" minlength="6" maxlength="12" name="NewPassword" id="password" required>

                            </div>
                        </div>
                        <div class="addStudetns-form">
                            <div> <label for="">Confierm password :</label></div>
                            <div><input type="text" id="Cpassword" required>

                            </div>
                        </div>
                        <input type="text" name="FestId" value="{{GroupDetails.FestId}}" hidden>
                        <div class="addStudetns-form-Button">
                            <button type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
             {{#if passwordChangeError}}
            <div class="groupAlertBorder">
                <div class="groupAlert-box-close-button">
                    <i class="bi bi-x-lg" onclick="closeAlet()"></i>
                </div>
                <div class="groupAlertHead">
                    <i class="bi bi-exclamation-circle"></i>
                    <h4>Error !</h4>
                </div>
                <div class="groupAletCountent">
                    <h5>{{passwordChangeError}}</h5>
                </div>
                <audio autoplay hidden src="/audio/alert/error alert.mp3"></audio>
            </div>
            {{/if}}
            {{#if passwordChangeSuccess}}
            <div style=" background-color: rgb(138, 255, 177); border-color:rgb(0, 165, 55)" class="groupAlertBorder">
                <div class="groupAlert-box-close-button">
                    <i class="bi bi-x-lg" onclick="closeAlet()"></i>
                </div>
                <div class="groupAlertHead" style=" color: rgb(0, 126, 42);">
                    <i class="bi bi-exclamation-circle"></i>
                    <h4>Success !</h4>
                </div>
                <div class="groupAletCountent" style="color: rgb(56, 95, 69);">
                    <h5>{{passwordChangeSuccess}}</h5>
                </div>
                <audio autoplay hidden src="/audio/alert/error alert.mp3"></audio>
            </div>
            {{/if}}
        </div>
    </div>
    </div>
</section>

{{!-- active button --}}
<script>
    var current = document.getElementById('G-Other').className = "nav-links-a nav-links-active"
</script>


{{!-- password validate --}}
<script>
    const form = document.getElementById('changepassword-form');
    const password = document.getElementById('password');
    const cpassword = document.getElementById('Cpassword');
    function sessionOneInputs() {
        const passwordValue = password.value;
        const cpasswordValue = cpassword.value;
        if (passwordValue !== cpasswordValue) {

            alert('Passwords does not match')
            return false;
        } else {
            setSuccessFor(cpassword);
        }
    }

</script>