<section>
    <div class="group-container">
        <div class="allGroupStudents-mainDiv">
            <div class="GroupAllCategory-header">
                <h4 class="adminHome-sectin-one-SubHeading">Other </h4>
                <hr class="GroupallCategoryheader-hr">
            </div>
            <div>
                <div class="otherContentDiv">
                    <a href="/">
                        <div class="otherItems">
                            <h4><i style="margin-right: 5px;" class="bi bi-bar-chart-line-fill"></i> View results</h4>
                            <i class="bi bi-chevron-right"></i>
                        </div>
                    </a>
                    <a href="/group/settings/change-password">
                        <div class="otherItems">
                            <h4><i style="margin-right: 5px;" class="bi bi-shield-lock-fill"></i> Change password</h4>
                            <i class="bi bi-chevron-right"></i>
                        </div>
                    </a>
                    <a href="">
                        <div class="otherItems" onclick="alert('🛈 This option is not developed')">
                            <h4><i style="margin-right: 5px;" class="bi bi-chat-square-dots-fill"></i> Ask a Question</h4>
                            <i class="bi bi-chevron-right"></i>
                        </div>
                    </a>
                   
                        <div class="otherItems" onclick="refreshPage('{{GroupDetails.GroupId}}')">
                            <h4><i style="margin-right: 5px;" class="bi bi-arrow-clockwise"></i> Refresh</h4>
                            <img style="display: none;" id="refreshLoading" class="refresh-loading" src="/images/images/loading2.gif">
                        </div>
                    
                    <a href="/group/logOut">
                        <div class="otherItems">
                            <h4 style="color: rgb(173, 0, 0);"><i style="margin-right: 5px;" class="bi bi-door-closed"></i> Logout</h4>
                            <i style="color: rgb(173, 0, 0);" class="bi bi-box-arrow-right"></i>
                        </div>
                    </a>
                </div>


            </div>
        </div>
    </div>
    </div>
</section>

{{!-- active button --}}
<script>
    var current = document.getElementById('G-Other').className = "nav-links-a nav-links-active"
</script>

<script>
    function refreshPage(GroupId){
        let loading = document.getElementById('refreshLoading')
        loading.style.display = 'block'
        $.ajax({
            url:'/group/other/refreshPage',
            data:{
                GroupId
            },
            method:'post',
            success:(result)=>{
                location.reload()
            }
        })
    }
</script>