<section>
    <div class="group-container">
        <div class="allGroupStudents-mainDiv">
            <div class="GroupAllCategory-header">
                <h4 class="adminHome-sectin-one-SubHeading">Other details</h4>
                <hr class="GroupallCategoryheader-hr">
            </div>
            <div>
                <div class="otherContentDiv">
                    <a href="/group/settings/change-password">
                        <div class="otherItems">
                            <h4><i style="margin-right: 5px;" class="bi bi-pencil-square"></i> Change password</h4>
                            <i class="bi bi-chevron-right"></i>
                        </div>
                    </a>
                    <a href="/group/logOut">
                        <div class="otherItems">
                            <h4 style="color: rgb(173, 0, 0);"><i style="margin-right: 5px;" class="bi bi-door-closed"></i> Logout</h4>
                            <i style="color: rgb(173, 0, 0);" class="bi bi-box-arrow-right"></i>
                        </div>
                    </a>
                </div>


            </div>
        </div>
    </div>
    </div>
</section>

{{!-- active button --}}
<script>
    var current = document.getElementById('G-Other').className = "nav-links-a nav-links-active"
</script>