<section>
    <div class="admin-header-container">
        <div class="admin-header-div-main">
            <div>
                <a href="/fest-admin"> <img class="admin-header-image" src="/images/images/nsa-online.png"
                        alt="union logo"> </a>
            </div>
            <div class="admin-header-buttons">
                {{#if festHeader}}
                <a id="festHeader" class="sidebarMenueButton" onclick="showSidebar()" style="text-decoration: none;">
                    <div class="admin-header-login ">
                        <i class="bi bi-layout-sidebar-inset"></i>
                        <h4 class="create-fest">Sidebar</h4>
                    </div>
                </a>
                {{/if}}

                {{#if admin}}
                <a href="/fest-admin/create-fest-page1" id="create-fest-button" style="text-decoration: none;">
                    <div class="create-fest-button-border" onclick="return confirm('Are you want create new fest ?')">
                        <i class="bi bi-plus-lg"></i>
                        <h4 class="create-fest">Create fest</h4>
                    </div>
                </a>

                <div class="dropdown-button">

                    <div  id="adminProfileButton"
                        class="admin-header-login">
                        <i style="font-size: 18px;" id="settings" class="bi bi-person-circle"></i>
                    </div>
                    <div id="dorpdown-content" class="dropdown-pop">
                        <a href="#"><i class="bi bi-person-circle"></i> Account</a>
                        <a href="#"><i class="bi bi-lock-fill"></i> Change password</a>
                        <a href="#"><i class="bi bi-chat-square-text-fill"></i> Feedbacks</a>
                        <a href="#"><i class="bi bi-person-plus-fill"></i> Create admin</a>
                        <a href="#"><i class="bi bi-gear-fill"></i> Settings & Other</a>
                        <a href="#"><i class="bi bi-box-arrow-left"></i> Logout</a>
                    </div>
                </div >
               

                {{else}}{{#if createAccout}}
                <a href="/fest-admin" style="text-decoration: none;">
                    <div class="admin-header-login">
                        <i style="font-size: 18px;" class="bi bi-house-door-fill"></i>
                        <h4 class="create-fest">Home</h4>
                    </div>
                </a>
                {{else}}

                <a href="/fest-admin/login" style="text-decoration: none;">
                    <div class="admin-header-login">
                        <i class="bi bi-door-open"></i>
                        <h4 class="create-fest">LogIn</h4>
                    </div>
                </a>
                {{/if}}{{/if}}
            </div>

        </div>
    </div>
</section>

<script>
    function showSidebar() {
        var sidebar = document.getElementById('sidebar')
        var festHeader = document.getElementById('festHeader')
        var closeButton = document.getElementById('closeIcon')


        sidebar.className = "sidebarboarder-onClick-menu";
        closeButton.className = "bi bi-x-lg sidebarheaderCloseIcon-onClick-menu"
        festHeader.className = "sidebarMenueButton-onClick-menu"

    }
</script>

<script>
    let butten = document.getElementById('create-fest-button')
    let settings = document.getElementById('settings')
    let Android1 = "Android"
    Android1 = new RegExp('(\\w*' + Android1 + '\\w*)', 'gi');
    let ios1 = "iphone"
    ios1 = new RegExp('(\\w*' + ios1 + '\\w*)', 'gi');
    var pho = document.getElementById('hi')
    var AndroidMobile = platform.description.match(Android1);
    var iphone = platform.description.match(ios1);
    if (AndroidMobile) {
        butten.style.display = "none"
    } else if (iphone) {
        butten.style.display = "none"
    }
</script>