<footer>
    <div class="container" style="padding-top: 45px;">
        <div class="footerContent">
            <div class="Image">
                <div>
                   <a href="https://www.nsaonline.in" target="_blank"> <img src="/images/images/nsa-online.png" style="height:40px;" alt="nsa Logo"></a>
                </div>
                <div class="icons">
                    <div>
                        <a href="https://www.nsaonline.in" title="Website" target="_blank"><i class="bi bi-globe2"></i></i></i></a>
                        <a href="" title="Mail" target="_blank"><i class="bi bi-envelope-open-fill"></i></a>
                        <a href="" title="Youtube" target="_blank"><i class="bi bi-youtube"></i></i></a>
                        <a href="" title="Facebook" target="_blank"><i class="bi bi-facebook"></i></a>
                        <a href="" title="Instagram" target="_blank"><i class="bi bi-instagram"></i></a>
                        <a href="" title="Whatsapp" target="_blank"><i class="bi bi-whatsapp"></i></a>
                        <a href="" title="Telegram" target="_blank"><i class="bi bi-telegram"></i></a>
                    </div>

                </div>
            </div>
            <div class="body">
                <h2>Noorul huda Student Association (NSA)</h2>
                <h4>Noorul huda Students Association , generally abbreviated as NSA , is a student union of Majma'a
                    Shareeath and Arts College students. It is governed by annually elected delegates from students of
                    the campus under the entire control of an advisory board.Our direction and ideas are led by our
                    teachers and student members.
                    We’re called the Students’ Union because that’s what we are; a union of students. It’s the issues
                    that matter to students that drive us. Here, students can feel assured that their views count, their
                    voice is strong, and together we’ll use them to make student life even better.</h4>
            </div>

        </div>
        <div class="footerBottom">
            <div>
                <h4>Copyright © 2021 - <span id="currentyear"></span> NSAOnline. All Rights Reserved</h4>
                <h4>Created by : <a style="color: rgb(236, 236, 236);" href="http://wa.me/+919567148324"
                        target="_blank">Dreams_art</a></h4>
            </div>
        </div>
    </div>
</footer>

<script>
    var newDate = new Date();
    var Year = newDate.getFullYear();
    var span = document.getElementById('currentyear').innerHTML = Year
</script>