<section>
    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
            <a href="/group">
                <img class="nav-title-logo" src="/images/images/nsa-online.png" alt="union logo">


            </a>
        </div>
        {{#if group}}
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>

        <div class="nav-links">
            <a id="G-Home" class="nav-links-a" href="/group">Home</a>
            <a id="G-Students" class="nav-links-a" href="/group/students">Students</a>
            <a id="G-Events" class="nav-links-a" href="/group/items">Items</a>
            <a id="G-Notification" style="position: relative;" class="nav-links-a"
                href="/group/notification">Notification <span id="NotificationCount" style="display: none;"
                    class="NotificationCount"></span></a>
            <a id="G-Other" class="nav-links-a" href="/group/other">Other</a>

        </div>

        {{/if}}
    </div>

</section>

<script>
    let notifi = document.getElementById('NotificationCount');
    let group = {{{ json Group }}}
    function getNotificationCount() {

        $.ajax({
            url: '/group/get-new-notification-count',
            data: {
                EventId: group.EventId,
                GroupId: group.GroupId
            },
            method: 'post',
            success: (response) => {
                if(response?.count === null){
                notifi.style.display = 'none'
                }else{
                notifi.style.display = 'block'
                notifi.innerHTML = response.count
                }
            }
        })

    }
    getNotificationCount()
</script>