<section>
    <div style="background-color: rgb(0, 133, 66);" class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
            <a href="/">
                <img class="nav-title-logo" src="/images/images/nsa-online.png" alt="union logo">

            </a>
        </div>



        <div class="">
            {{#if userDetails.GroupId}}

            <a href="/group">
                <div class="GorupLogin-Button">
                    <i class="bi bi-people-fill"></i>
                    <h4 class="create-fest">Profile</h4>
                </div>
            </a>
            {{else}}
            <a href="/group">
                <div class="GorupLogin-Button">
                    <i class="bi bi-people-fill"></i>
                    <h4 class="create-fest">Group login</h4>
                </div>
            </a>
            {{/if}}
        </div>


    </div>
</section>