<section>
    <div class="container">
        <div class="forgotMainDiv">
            <div class="forgotborder">
                <div class="forgotHeader">
                    <h2>Forgot password ?</h2>
                </div>
                <form action="/event/forgot-password" method="post">
                    <div class="forgotContent">
                        <div>
                            <p style="font-style: italic;">Enter the Event ID. After that, get the OTP
                                through the e-mail you receive, after change password
                            </p>
                        </div>
                        <div>
                            <label for="">EventId</label>
                            <input type="text" name="EventId" required>
                        </div>
                    </div>

                    <div class="forgotFooter">
                        <div class="fotgotButtons">
                            <button type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>