<section>
    <div class="container">
        <div class="admin-login">
            <div class="admin-login-border">
                <div class="admin-login-header">
                    <img class="admin-login-union-logo" src="/images/images/nsa-online-ping.png" alt="union logo">
                </div>
                <h3 class="admin-login-head">Event login</h3>
                <hr class="admin-login-hr">
                <div class="admin-login-content">
                    <form action="/event/login"  method="POST">
                        <div class="admin-login-form">
                            <label for="">Event ID</label>
                            <input type="text" name="EventId" required id="" autofocus>
                        </div>
                        <div class="admin-login-form">
                            <label for="">Password</label>
                            <input type="password" name="Password" required id="Password" autocomplete="off">
                            <i id="Icon" class="bi bi-eye-fill" onclick="showPassword()"></i>
                        </div>
                        <div class="admin-login-form">
                            <button type="submit">Login</button>
                        </div>
                    </form>
                </div>
            </div>
            
           

        </div>
    </div>
</section>

<script>
    function showPassword() {
        var x = document.getElementById("Password");
        var i = document.getElementById("Icon");

        if (x.type === "password") {
            x.type = "text"
            i.className = "bi bi-eye-slash-fill"

        } else {
            x.type = "password"
            i.className = "bi bi-eye-fill"
        }
    }

</script>

