{{!-- <h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre> --}}
<section>
    <div class="group-container" style="padding-bottom: 0;">
        <div class="errorPage">
            <div>
                <div class="Image">
                    <img src="/images/images/404-snow.gif" alt="404">
                </div>
                <div class="conternt">
                    <div >
                        <h1>{{message}}</h1>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
</section>