<section>
    <div class="group-container">
        <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSfLu8t3KF7gGmI3SoCMNFzi7wuwRWQO72pzt0XyiI_1EECL5g/viewform?embedded=true"
            width="100%" height="1550" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            <div>
                <p style="text-align: center;">Scroll to Top</p>
            </div>
    </div>
</section>

{{!-- active button --}}
<script>
    var current = document.getElementById('G-Other').className = "nav-links-a nav-links-active"
</script>