<section>
    <div class="load">
        <h1>loading...</h1>
        <h1>loading...</h1>
        <h1>loading...</h1>
        <h1>loading...</h1>
        <h1>loading...</h1>
        <h1>loading...</h1>
        <h1>loading...</h1>
    </div>
</section>

