<section>
    <div class="group-container">
        <div class="allGroupStudents-mainDiv">
            <div class="GroupAllCategory-header">
                <h4 class="adminHome-sectin-one-SubHeading">Change password</h4>
                <hr class="GroupallCategoryheader-hr">
            </div>
            <div>
                <div class="AddGroupStudetns-Div">
                    <form action="/group/change-password" autocomplete="off" method="POST" id="changepassword-form"
                        onsubmit="return sessionOneInputs()">

                        <input type="text" name="GroupId" value="{{Group.GroupId}}" hidden readonly/>

                        <div class="addStudetns-form">
                            <div> <label for="">Current password :</label></div>
                            <div><input type="text" name="CurrentPassword" required>

                            </div>
                        </div>
                        <div class="addStudetns-form">
                            <div> <label for="">New password :</label></div>
                            <div><input type="password" minlength="6" maxlength="12" name="NewPassword" id="password"
                                    required />

                            </div>
                        </div>
                        <div class="addStudetns-form">
                            <div> <label for="">Confierm password :</label></div>
                            <div><input type="text" id="Cpassword" required />

                            </div>
                        </div>
                        <input type="text" name="EventId" value="{{Group.EventId}}" hidden>
                        <div class="addStudetns-form-Button">
                            <button type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

{{!-- active button --}}
<script>
    var current = document.getElementById('G-Other').className = "nav-links-a nav-links-active"
</script>


{{!-- password validate --}}
<script>
    const form = document.getElementById('changepassword-form');
    const password = document.getElementById('password');
    const cpassword = document.getElementById('Cpassword');
    function sessionOneInputs() {
        const passwordValue = password.value;
        const cpasswordValue = cpassword.value;
        if (passwordValue !== cpasswordValue) {

            alert('Passwords does not match')
            return false;
        } else {
            setSuccessFor(cpassword);
        }
    }

</script>