<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/material.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>


<section>
    <div class="fest-container">
        <div class="evets-MainDiv">
            <div class="pointTable-header">
                <h4 class="adminHome-sectin-one-SubHeading">Result</h4>
                <hr>
            </div>
            <div>
                <div class="resultCountent">
                    {{!-- Total result --}}
                    <div class="fivteen">
                        <div class="resultBorder">
                            <div class="resultContentBoreder">
                                <div class="graphDiv">
                                    <div class="graphOneDiv">
                                        <div>
                                            <div class="c100 p45 big ">
                                                <span>50%</span>
                                                <div class="slice">
                                                    <div class="bar"></div>
                                                    <div class="fill"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="graphTwoDiv">
                                        <div>
                                            <div>
                                                <p>Total Events : <span>540</span></p>
                                                <p>Published : <span>540</span></p>
                                                <p>Balance : <span>540</span></p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="headerDiv">
                                    <h4>Total Result</h4>
                                </div>

                            </div>
                        </div>
                    </div>
                    {{!-- Group Total mark --}}
                    <div class="fivteen">
                        <div class="resultBorder">
                            <div class="resultContentBoreder">
                                <div class="graphDiv">
                                    <div class="graphOneDiv">
                                        <div>
                                            <figure class="pie-chart">
                                        </div>
                                    </div>
                                    <div class="graphTwoDiv">
                                        <div>
                                            <div>
                                                <span style="color:#fa3d67">Token Sale 35% </span><br>
                                                <span style="color:#5c5c5c">Ecosystem 25%</span><br>
                                                <span style="color:#757575">Team and Advisors 15%</span><br>
                                                <span style="color:#b8b8b8">Blockchain Reward Pool 15%</span><br>
                                                <span style="color:#c7c7c7">Company Reserve 10%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="headerDiv">
                                    <h4>Total Result</h4>
                                </div>

                            </div>
                        </div>
                    </div>
                    {{!-- Event baise result --}}
                    <div class="fivteen">
                        <div class="resultBorder" style="height: auto;">
                            <a href="">
                                <div class="resultContentBoreder">
                                    <div class="headdingmodel">
                                        <h4><i class="bi bi-pie-chart-fill"></i> Event baise result</h4>
                                        <i class="bi bi-chevron-right"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    {{!-- Student base result --}}
                    <div class="fivteen">
                        <div class="resultBorder" style="height: auto;">
                            <a href="">
                                <div class="resultContentBoreder">
                                    <div class="headdingmodel">
                                        <h4><i class="bi bi-pie-chart-fill"></i> Student baise result</h4>
                                        <i class="bi bi-chevron-right"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="fivteen">
                        <div class="resultBorder" style="height: auto;">
                            <a href="">
                                <div class="resultContentBoreder">
                                    <div class="headdingmodel">
                                        <h4><i class="bi bi-pie-chart-fill"></i> Student baise result</h4>
                                        <i class="bi bi-chevron-right"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="fivteen">
                        <div class="resultBorder" style="height: auto;">
                            <a href="">
                                <div class="resultContentBoreder">
                                    <div class="headdingmodel">
                                        <h4><i class="bi bi-pie-chart-fill"></i> Student baise result</h4>
                                        <i class="bi bi-chevron-right"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    {{!-- Group baise marks --}}
                    <div class="group-baise-mark scrollbar-result">

                        <div class="Twenty-five">
                            <div class="resultBorder">
                                <div class="resultContentBoreder">
                                    <div class="normel-div ">
                                        <div style="text-align: center;">
                                            <h4>Total point</h4>
                                            <h1>8888</h1>
                                        </div>
                                    </div>
                                    <div class="headerDiv">
                                        <h4>Group Name</h4>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="Twenty-five">
                            <div class="resultBorder">
                                <div class="resultContentBoreder">
                                    <div class="normel-div ">
                                        <div style="text-align: center;">
                                            <h4>Total point</h4>
                                            <h1>8888</h1>
                                        </div>
                                    </div>
                                    <div class="headerDiv">
                                        <h4>Group Name</h4>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="Twenty-five">
                            <div class="resultBorder">
                                <div class="resultContentBoreder">
                                    <div class="normel-div ">
                                        <div style="text-align: center;">
                                            <h4>Total point</h4>
                                            <h1>8888</h1>
                                        </div>
                                    </div>
                                    <div class="headerDiv">
                                        <h4>Group Name</h4>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="Twenty-five">
                            <div class="resultBorder">
                                <div class="resultContentBoreder">
                                    <div class="normel-div ">
                                        <div style="text-align: center;">
                                            <h4>Total point</h4>
                                            <h1>8888</h1>
                                        </div>
                                    </div>
                                    <div class="headerDiv">
                                        <h4>Group Name</h4>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- Session Baise chart --}}
                    <div class="fivteen" style="width: 100%;">
                        <div class="resultBorder " >
                            <div class="resultContentBoreder">
                                <div class="normel-div ">
                                     <div id="columnchart_material" style="width: 100%;  height: 160px;"></div>
                                </div>
                                <div class="headerDiv">
                                    <h4>Session Table</h4>
                                </div>

                            </div>
                        </div>
                    </div>
                    {{!-- time intervell result --}}
                    <div class="fivteen" style="width: 100%;">
                        <div class="resultBorder" style="height: 400px;" >
                            <div class="resultContentBoreder" >
                                <div class="normel-div " style=" height: 360px; ">
                                  <div id="chartdiv"></div>
                                </div>
                                <div class="headerDiv">
                                    <h4>Time table Table</h4>
                                </div>

                            </div>
                        </div>
                    </div>

                    {{!-- --}}
                    <div class="fivteen">
                        <div class="resultBorder">

                        </div>
                    </div>
                    <div class="Twenty-five">
                        <div class="resultBorder">

                        </div>
                    </div>
                    <div class="Twenty-five">
                        <div class="resultBorder">

                        </div>
                    </div>
                    <div class="Twenty-five">
                        <div class="resultBorder">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- <section>

         
        </section> --}}
    </div>

</section>



<script>
    var current = document.getElementById('result').className = "sidebarmenus sidebarmenus-active"

</script>
{{!-- Chart Result - session result --}}
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['bar'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['', 'Sales', 'Expensessdsasas', 'Profit', 'ddd','kdf','ldfs',],
            ['2014', 100, 700, 300,500,500,500],
            ['2015', 170, 460, 250,0,500,500],
            ['2016', 660, 120, 300,100,500,500],
            ['2017', 103, 540, 350,500,500,500],
            ['2018', 103, 540, 350,500,500,500]
        ]);
        

        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

        chart.draw(data, );
    }
</script>

{{!-- time result - all group --}}

<script>
    /**
 * ---------------------------------------
 * This demo was created using amCharts 4.
 * 
 * For more information visit:
 * https://www.amcharts.com/
 * 
 * Documentation is available at:
 * https://www.amcharts.com/docs/v4/
 * ---------------------------------------
 */

// Themes begin
am4core.useTheme(am4themes_material);
am4core.useTheme(am4themes_animated);
// Themes end

// Create chart instance
var chart = am4core.create("chartdiv", am4charts.XYChart);

//

// Increase contrast by taking evey second color
chart.colors.step = 2;

// Add data
chart.data = generateChartData();

// Create axes
var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
dateAxis.renderer.minGridDistance = 50;

// Create series
function createAxisAndSeries(field, name, opposite, bullet) {
  var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
  if(chart.yAxes.indexOf(valueAxis) != 0){
  	valueAxis.syncWithAxis = chart.yAxes.getIndex(0);
  }
  
  var series = chart.series.push(new am4charts.LineSeries());
  series.dataFields.valueY = field;
  series.dataFields.dateX = "date";
  series.strokeWidth = 2;
  series.yAxis = valueAxis;
  series.name = name;
  series.tooltipText = "{name}: [bold]{valueY}[/]";
  series.tensionX = 0.8;
  series.showOnInit = true;
  
  var interfaceColors = new am4core.InterfaceColorSet();
  
  switch(bullet) {
    case "triangle":
      var bullet = series.bullets.push(new am4charts.Bullet());
      bullet.width = 12;
      bullet.height = 12;
      bullet.horizontalCenter = "middle";
      bullet.verticalCenter = "middle";
      
      var triangle = bullet.createChild(am4core.Triangle);
      triangle.stroke = interfaceColors.getFor("background");
      triangle.strokeWidth = 2;
      triangle.direction = "top";
      triangle.width = 12;
      triangle.height = 12;
      break;
    case "rectangle":
      var bullet = series.bullets.push(new am4charts.Bullet());
      bullet.width = 10;
      bullet.height = 10;
      bullet.horizontalCenter = "middle";
      bullet.verticalCenter = "middle";
      
      var rectangle = bullet.createChild(am4core.Rectangle);
      rectangle.stroke = interfaceColors.getFor("background");
      rectangle.strokeWidth = 2;
      rectangle.width = 10;
      rectangle.height = 10;
      break;
    default:
      var bullet = series.bullets.push(new am4charts.CircleBullet());
      bullet.circle.stroke = interfaceColors.getFor("background");
      bullet.circle.strokeWidth = 2;
      break;
  }
  
  valueAxis.renderer.line.strokeOpacity = 1;
  valueAxis.renderer.line.strokeWidth = 2;
  valueAxis.renderer.line.stroke = series.stroke;
  valueAxis.renderer.labels.template.fill = series.stroke;
  valueAxis.renderer.opposite = opposite;
}

createAxisAndSeries("visits", "Visdits", false, "circle");
createAxisAndSeries("views", "Views", true, "triangle");
createAxisAndSeries("hits", "Hits", true, "rectangle");

// Add legend
chart.legend = new am4charts.Legend();

// Add cursor
chart.cursor = new am4charts.XYCursor();

// generate some random data, quite different range
function generateChartData() {
  var chartData = [];
  var firstDate = new Date();
  firstDate.setDate(firstDate.getDate() - 100);
  firstDate.setHours(0, 0, 0, 0);

  var visits = 0;
  var hits = 0;
  var views = 0;

  for (var i = 0; i < 15; i++) {
    // we create date objects here. In your data, you can have date strings
    // and then set format of your dates using chart.dataDateFormat property,
    // however when possible, use date objects, as this will speed up chart rendering.
    var newDate = new Date(firstDate);
    newDate.setDate(newDate.getDate() + i);

    visits += Math.round((Math.random()<0.5?1:-1)*Math.random()*10);
    hits += Math.round((Math.random()<0.5?1:-1)*Math.random()*10);
    views += Math.round((Math.random()<0.5?1:-1)*Math.random()*10);

    chartData.push({
      date: newDate,
      visits: visits,
      hits: hits,
      views: views
    });
  }
  return chartData;
}
</script>