<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="icon" href="/images/images/nsa-icon.png" type="png/jpg" sizes="16*16">
  <link rel='stylesheet' href='/stylesheets/admin/style.css' />
  <link rel='stylesheet' href='/stylesheets/admin/media.css' />
  <link rel='stylesheet' href='/stylesheets/admin/root.css' />
  <link rel='stylesheet' href='/stylesheets/group/root.css' />
  <link rel='stylesheet' href='/stylesheets/group/style.css' />
  <link rel='stylesheet' href='/stylesheets/group/media.css' />
  <link id="mobile" style="display: none;" rel='stylesheet' href='' />
  <link rel='stylesheet' href='/stylesheets/user/style.css' />
  <link rel='stylesheet' href='/stylesheets/user/graph.css' />
  <link rel='stylesheet' href='/stylesheets/user/media.css' />
  <link rel='stylesheet' href='/stylesheets/user/root.css' />
  <script src="/javascripts/print.js"></script>
  <script src="/javascripts/javascript.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/platform/1.3.6/platform.min.js"></script>
  <script>

    let Android = "Android"
    Android = new RegExp('(\\w*' + Android + '\\w*)', 'gi');
    let ios = "iphone"
    ios = new RegExp('(\\w*' + ios + '\\w*)', 'gi');

    var AndroidMobile = platform.description.match(Android);
    var iphone = platform.description.match(ios);
    if (AndroidMobile) {
      document.getElementById('mobile').href = "/stylesheets/group/media-mobile.css";
    } else if (iphone) {
      document.getElementById('mobile').href = "/stylesheets/group/media-mobile.css";
    }

  </script>
</head>
{{!-- 3.5.1 --}}

<body>
  {{#if adminHeader}}
  {{>admin-header}}
  {{else}}{{#if groupHeader}}
  {{>group-header}}
  {{else}}
  {{>user-header}}
  {{/if}}{{/if}}
  {{#if festHeader}}
  {{>fest-header}}
  {{/if}}
  {{{body}}}
  {{!-- {{>admin-footer}} --}}
  {{#if footer}}
  {{>admin-footer}}
  {{/if}}

</body>

</html>