@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

/* .................................... Navbar */

.nav {
    height: 55px;
    width: 100%;
    background-color: var(--color-blueDark);
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 5;
}

.nav-title {

    font-family: 'Product Sans';
    font-size: 25px;
    color: #fff;
    padding: 10px 10px 10px 10px;
    margin-left: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

.nav-title-logo {
    padding: 10px 10px 10px 10px;
    margin-left: 20px;
    width: 130px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {

    float: right;
    font-size: 18px;
    margin-right: 25px;
}

.nav>.nav-links .NotificationCount {
    background-color: rgb(207, 0, 0);
    color: white;
    font-size: 13px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 50px;
    position: absolute;
    top: 7px;
    left: 97px;
}

.nav-links-a {
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
    margin-left: 15px;
}

.nav-links-a:hover {
    color: rgb(184, 184, 184);
    border-radius: 7px;
}

.nav-links-active {
    color: rgb(158, 167, 255);
    border-radius: 7px;
}

.nav>#nav-check {
    display: none;
}

/* ................................ Login */

.groupLogin-border {
    background-color: var(--color-bluelight);
    width: 350px;
    padding-top: 30px;
    padding-bottom: 28px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px 0px rgba(255, 36, 145, 0.78);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 238, 255, 0.78);
    -moz-box-shadow: 0px 0px 20px 0px rgba(255, 36, 145, 0.78);


}

.groupLogin-header h2 {
    text-align: center;
    font-family: 'Product Sans';
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 28px;
    color: var(--color-blueDark);

}

.groupLogin-header h4 {
    text-align: center;
    font-size: 17px;
}

.groupLogin-border hr {
    border: none;
    border-top: 1.5px var(--color-blueDark) solid;
}

/* ............................................  Gorup Alert Box */
.groupAlertHead {
    display: flex;
    color: rgb(201, 1, 1);
    align-items: center;
}

.groupAlertHead i {
    margin-right: 5px;

}

.groupAletCountent {
    padding-top: 3px;
    color: rgb(117, 51, 51);
}

.groupAlertBorder {

    width: 250px;
    padding-top: 12px;
    padding-bottom: 16px;
    padding-left: 21px;
    background-color: rgb(253, 196, 196);

    border-left: rgb(189, 3, 3) 4px solid;
    position: absolute;
    right: -300px;
    top: 65px;
    animation-name: GroupalertInOut;
    animation-duration: 5s;
    transition: ease-in-out;
    z-index: 10;

}

@keyframes GroupalertInOut {
    0% {
        right: -300px;
        top: 65px;
    }

    30% {

        right: 10px;
        top: 65px;
    }

    50% {
        right: 10px;
        top: 65px;
    }

    70% {
        right: 10px;
        top: 65px;
    }

    100% {
        right: -300px;
        top: 65px;
    }
}

.groupAlert-box-close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    color: rgb(112, 112, 112);
    cursor: pointer;
}

/* ............................ Students - all Category */
.GroupAllCategory-header {
    padding-top: 10px;
}

.GroupAllCategory-header hr {
    margin-top: 2px;
    border: none;
    border-top: solid 1px var(--color-blueDark2);
}


.allGroupCatetory-items {
    background-color: lightgray;
    width: 48%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    color: black;
}

.allGroupCatetory-items p {
    background-color: var(--color-blueDark2);
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 50px;
}

/* .......................... Students - All Students */
.GroupStudentsZero {
    background-image: url(/images/images/bg6.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* ........................... Students -Add students */
.AddGroupStudetns-Div {

    width: 400px;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);

}

.addStudetns-form {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    align-items: center;
    margin-top: -10px;


}

.addStudetns-form :first-child {
    width: 25%;
    height: 35px;
    padding-top: 13px;

}

.addStudetns-form :last-child {
    width: 75%;
}

.addStudetns-form :last-child input {
    width: 100%;
    border: 1px solid black;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
}

.addStudetns-form-Button {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    align-items: center;
    margin-top: -10px;
    float: right;
}

.addStudetns-form-Button button {
    width: 150px;
    height: 40px;
    font-size: 16px;
    border: none;
    background-color: var(--color-blueDark2);
    color: white;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 2px;

}

.addStudetns-form-Button button:active {
    background-color: var(--color-blueDark);
}

.pointTable-IconDiv {
    display: flex;
    justify-content: center;
}

.pointTable-IconDiv>i {
    font-size: 65px;
    color: rgb(92, 92, 92);


}

.pointTabel-div>p {
    margin-top: 10px;
    text-align: center;
}

/* .......................... Students - All Students */
.allStudents-SessionOne {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.allStudents-SessionOne button {
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    color: white;
    background-color: var(--color-add);
    font-size: 16px;
    height: 40px;
    margin-left: 8px;
    cursor: pointer;
}

.allStudents-SessionOne i {
    font-size: 20px;

}

.allStudents-SessionOne button:active {
    background-color: rgb(2, 110, 2);
}

.allStudents-SessionTwo {
    margin-top: 10px;

}

.allStudents-SessionTwo {
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
    margin-top: 10px;
}

.allStudents-SessionTwo thead th {
    background-color: var(--color-tableHead);
    color: white;
}

.allStudents-SessionTwo tr:nth-child(even) {
    background-color: #dbeeff;

}

.allStudents-SessionTwo td, .allStudents-SessionTwo th {
    text-align: center;
    border: 0.5px solid #c2c2c2;
    ;
    padding: 8px;
}

.StudentsTable-TD-Control {
    display: flex;
    justify-content: center;
}

.editDisabledoption {
    background-color: yellowgreen;
}

.StudentsTable-TD-Control a {
    background-color: rgb(104, 103, 103);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 6px;
    color: white;
    margin-right: 5px;
}

.StudentsTable-TD-Control a:active {
    background-color: rgb(71, 71, 71);
}

.StudentsTable-TD-Control>a>i {
    font-size: 17px;

}

/* ........................... HOme ............*/

.groupProfileborder {
    background-color: rgb(171, 217, 238);
    display: flex;
    margin-top: 15px;
    border-radius: 20px;
}

.groupProfileborder .ImageDiv {
    width: 35%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.groupProfileborder .ImageDiv img {
    width: 100%;
    border-radius: 700px;
}

.groupProfileborder .Content {

    width: 100%;
    padding: 15px;
    padding-top: 25px;
    box-sizing: border-box;
}

.groupProfileborder .Content .festContent {
    margin-bottom: 20px;
}

.groupProfileborder .Content .festContentBorder {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border: 2px solid var(--color-blueDark);
    position: relative;
    display: flex;

}

.groupProfileborder .Content .festContentBorder h3 {
    position: absolute;
    background-color: rgb(171, 217, 238);
    top: -14px;
    padding-left: 5px;
    padding-right: 5px;

}

.groupProfileborder .Content .festContentBorder .header {
    width: 30%;
}

.GroupProgrmShedulEmpty {
    background-color: rgb(219, 219, 219);
    width: 100%;
    height: 150px;
    border-radius: 15px;
    text-align: center;
    padding-top: 55px;
    box-sizing: border-box;
    margin-bottom: 10px;

}

.NotificationScroll {
    width: 100%;
    height: 35px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    display: flex;
    align-items: center;


}

.NotificationScroll marquee {
    display: flex;
    align-items: center;


}

.NotificationScroll img {
    margin-left: 10px;


}

.NotificationScroll a {
    color: black;
}

.NotificationScroll a:hover {
    color: rgb(1, 137, 179);
    font-weight: bold;
}

.NotificationScroll span {
    margin-left: 10px;
    font-size: 22px;
    color: rgb(153, 153, 153);
}

.latestUpdated {
    position: absolute;
    background-color: var(--color-blueDark);
    color: white;
    height: 35px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 25px;
    z-index: 2;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
}

/* Other  */

.otherContentDiv {
    width: 100%;


}

.otherItems {
    background-color: rgb(170, 170, 170);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 17px;
    padding-right: 17px;
    border-radius: 10px;
    margin-bottom: 8px;
    cursor: pointer;
    color: black;
    align-items: center;
}

.otherItems p {
    margin: 0;
}

.otherItems h4>i {
    font-size: 20px;
}

.otherItems>i {
    color: black;
    font-size: 20px;
}

/* forget password */
.GforgetHeader h4 {
    text-align: center;
    color: rgb(100, 100, 100);

}

.GfogetCountent {

    margin-top: 30px;
    padding: 10px;

}

.GfogetCountent p {
    font-size: 15px;
    text-align: center;

}

.GforgetClosebutton {
    display: flex;
    justify-content: center;
}

.GforgetClosebutton button {
    border: none;
    font-size: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
    border-radius: 5px;
    background-color: var(--color-blueDark2);
    color: white;
    cursor: pointer;
}

/* NOtification */
.GNotificationMainDiv {
    display: flex;
    flex-wrap: wrap;
}

.GNotificationMainDiv a {
    display: flex;
    width: 100%;
}

.GNotificationBorder {
    width: 100%;
    height: 65px;
    background-color: lightgray;
    margin-top: 8px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-left: 4px;
    margin-right: 4px;
    display: flex;
    padding: 8px;
    overflow: hidden;
    position: relative;
}

.GNotificationBorder .one i {
    color: white;
    font-size: 30px;

}

.GNotificationBorder .one {
    display: flex;
    justify-content: center;
    align-items: center;

}

.GNotificationBorder .IconDiv {
    background-color: rgb(66, 66, 66);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 100%;

}

.GNotificationBorder .two {
    padding-left: 10px;
    width: 100%;

}

.GNotificationBorder h4 {
    color: rgb(47, 48, 56);

}

.GNotificationBorder .two p {
    margin: 0;
    margin-top: 2px;
    font-size: 14px;
    line-height: 18px;
    text-align: justify;
    color: rgb(39, 39, 39);
}

.GNotificationBorder .three {
    display: flex;
    align-items: center;
    padding-left: 12px;

}

.GNotificationBorder .three i {
    font-size: 27px;
    color: rgb(71, 71, 71);
    cursor: pointer;
}

@keyframes showTools {
    0% {
        right: -150px;
    }

    100% {
        right: 0;
    }
}

.GNotificationBorder .messageTools {
    position: absolute;
    background-color: rgb(167, 167, 167);
    height: 65px;
    top: 0;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 10px;
    right: 0;
    color: white;
    animation: showTools;
    animation-duration: 1s;



}

.GNotificationBorder .messageTools div>div {

    font-size: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 100%;
    cursor: pointer;

}

.GNotificationBorder .messageTools div>div .closeIcon {

    color: rgb(63, 63, 63);
    font-size: 20px;
    cursor: pointer;

}

.GNotification-all-controll {
    display: flex;
    justify-content: end;

}

.GNotification-all-controll p {

    margin: 0;
    margin-left: 15px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.GNotificationDate {
    position: absolute;
    right: 8px;
    top: 3px;
}

.GNotificationDate h5 {
    color: rgb(100, 100, 100);
    margin: 0;
    font-weight: normal;
}

.viewGnotifi-content h3 {
    color: rgb(3, 116, 182);
    margin-top: 15px;
}

.viewGnotifi-content h5 {
    color: rgb(121, 121, 121);
    margin-top: 5px;

}

.viewGnotifi-content pre {
    margin-top: 25px;
    text-align: justify;
    /* text-indent: 50px; */
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.viewGNofifi-footer {
    display: flex;
    justify-content: space-between;
}

.viewGNofifi-footer button {
    height: 40px;
    background-color: var(--color-blueDark2);
    color: white;
}

.viewGNofifi-footer>div {
    text-align: center;

}

/* Footer */
footer {
    background-color: #313030;
    padding: 0;
}

.footerContent {

    width: 100%;
    display: flex;
    padding-bottom: 25px;
    border-bottom: 1px rgb(112, 112, 112) solid;

}

.footerContent .Image {
    width: 350px;



}

.footerContent .Image div {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footerContent .Image div img {
    width: 200px;
    height: auto;
}

.footerContent .Image .icons {
    display: flex;
    justify-content: center;
}

.footerContent .Image .icons div {
    margin-top: 6px;

}

.footerContent .Image .icons a {
    color: white;
    margin-left: 4px;
    margin-right: 3px;
}

.footerContent .body {
    width: 100%;
    padding-left: 25px;
    color: white;
}

.footerContent .body h2 {
    margin-bottom: 12px;
}

.footerContent .body h4 {
    font-weight: normal;
    font-style: italic;
    text-align: justify;
}

.footerBottom div {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

}

.footerBottom div h4 {
    color: rgb(148, 148, 148);
    font-weight: normal;
    font-style: italic;

}