<section>
    <div class="fest-container">
        <div class="admin-Settings">
            <div class="admin-profile">
                <a href="/fest-admin/{{FestDetails.FestId}}/logout">LogOut</a>
            </div>
        </div>



    </div>

</section>

{{!-- <a href="/fest-admin/{{FestDetails.FestId}}/logout">
    <button>logout</button>
</a> --}}

<script>
    var current = document.getElementById('home').className = "sidebarmenus sidebarmenus-active"

</script>