<section>
    <div class="fest-container">
        <div class="settings-mainDiv">
            <div class="pointTable-header">
                <h4 class="adminHome-sectin-one-SubHeading">Settings / Students</h4>
                <hr>
            </div>
            <div class="sessions-settings-content">
                <div class="controlPanel-ItemDi">
                    <div class="controlpanel-subhead">
                        <i class="bi bi-arrow-right"></i>
                        <h4>Events quantity</h4>
                    </div>
                    <form action="/fest-admin/{{FestDetails.FestId}}/settings/students/eventsquantity" method="POST">
                        <div class="controlpanel-session-content">

                            <div class="cotrolpanel-items">
                                <label for=""> Total events per student
                                </label>
                                <div class="Students-setting-Input-Event">
                                    <input type="number" name="TotalEventCount" placeholder="Nill">
                                </div>
                            </div>

                        </div>
                        <div class="controlpanel-session-content">

                            <div class="cotrolpanel-items">

                                <label for=""> Stage events per student
                                </label>
                                <div class="Students-setting-Input-Event">
                                     <input type="number" name="StageEventCount" placeholder="Nill">
                                </div>
                            </div>

                        </div>
                        <div class="controlpanel-session-content">

                            <div class="cotrolpanel-items">

                                <label for=""> Off stage events per student
                                </label>
                                <div class="Students-setting-Input-Event">
                                    <input type="number" name="OffStageEventCount" placeholder="Nill">
                                </div>
                            </div>

                        </div>
                        <div class="controlpanel-session-content">

                            <div style="border: none;" class="cotrolpanel-items">
                                <label for="">
                                </label>
                                <div class="Students-setting-Input-Event">
                                    <button>Submit events quantity</button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>



            </div>
        </div>
    </div>
</section>

<script>
    var current = document.getElementById('settings').className = "sidebarmenus sidebarmenus-active"

</script>